@font-face {
	font-family: VisbyCF;
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/VisbyCFThin.woff2) format("woff2");
}
@font-face {
	font-family: VisbyCF;
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(/fonts/VisbyCFLight.woff2) format("woff2");
}
@font-face {
	font-family: VisbyCF;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/VisbyCFLight.woff2) format("woff2");
}
@font-face {
	font-family: VisbyCF;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/VisbyCFRegular.woff2) format("woff2");
}
@font-face {
	font-family: VisbyCF;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/VisbyCFMedium.woff2) format("woff2");
}
@font-face {
	font-family: VisbyCF;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/VisbyCFBold.woff2) format("woff2");
}


:root {
	--shadow: rgba(133, 133, 133, 0.5);
	--black: #1a1a1a;
	--white: #fff;
	--blue: #0099ff;
	--gray: #878787;
	--gray-light: #b3b1b1;
	--red: rgb(206, 57, 57);
	--green: #5cc741;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: VisbyCF, sans-serif;
	text-decoration: none;
	outline: none;
	transition: all 250ms ease-in-out;
}

input {
	margin: 7px 0;
	padding: 6px 12px;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #1a1a1a;
	width: 100%;
}

input:disabled {
	cursor: default;
	background-color: transparent;
}

body {
	background-color: #fff;
}

.container {
	background-color: #f4f4f4;
	max-width: 1024px;
	min-height: 512px;
	margin: 130px auto 40px;
	padding: 40px;
}

.button {
    cursor: pointer;
    padding: 10px 30px;
	color: #1a1a1a;
    border: 1px solid #1a1a1a;
    font-weight: 700;
    border-radius: 60px;
}

.button:hover {
	background-color: #09f;
    color: #fff;
    border: 1px solid #09f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
