.container {
    background-color: #f4f4f4;
    border: 1px solid var(--gray);
    padding: 1rem;
    width: 47%;
}

.section {
    width: 100%;
    display: flex;
}

.side {
    width: 50%;
}

.timeLeft {
    float: right;
    color: #a1a1a1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.video {
    width: 90%;
}

.input {
    width: 95%;
}

.input_error {
	border-bottom: 1px solid var(--red);
}

.closeButton {
    float: right;
    margin-right: -1rem;
    margin-top: -1rem;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}